<!-- Row -->
<div class="row">
    <!-- Column Delivery -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-body">
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col align-self-center">
                    <h2 class="font-weight-light mb-0" style="font-size: 20px;">324</h2>
                    <h6 class="text-muted" style="font-size: 14px;">Delivery</h6>
                </div>
                <!-- Column -->
                <div class="col text-right align-self-center">
                    <img src="../../../assets/images/icons/delivery.png" alt="" style="width: 45px; height: 50px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Column Taxis -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-body">
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col pr-0 align-self-center">
                    <h2 class="font-weight-light mb-0" style="font-size: 20px;">2376</h2>
                    <h6 class="text-muted" style="font-size: 14px;">Taxis</h6>
                </div>
                <!-- Column -->
                <div class="col text-right align-self-center">
                    <img src="../../../assets/images/icons/taxis.png" alt="" style="width: 45px; height: 50px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Column Restaurantes-->
    <div class="col-md-6 col-lg-3">
        <div class="card card-body">
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col pr-0 align-self-center">
                    <h2 class="font-weight-light mb-0" style="font-size: 20px;">1795</h2>
                    <h6 class="text-muted" style="font-size: 14px;">Restaurantes</h6>
                </div>
                <!-- Column -->
                <div class="col text-right ">
                    <img src="../../../assets/images/icons/restaurantes.png" alt="" style="width: 45px; height: 50px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Column Tickets-->
    <div class="col-md-6 col-lg-3">
        <div class="card card-body">
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col pr-0 align-self-center">
                    <h2 class="font-weight-light mb-0" style="font-size: 20px;">36870</h2>
                    <h6 class="text-muted" style="font-size: 14px;">Tickets</h6>
                </div>
                <!-- Column -->
                <div class="col text-right align-self-center">
                    <img src="../../../assets/images/icons/tickets.png" alt="" style="width: 45px; height: 50px;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row -->


<div class="row">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="d-md-flex no-block">
                    <h4 class="card-title">Projects of the Month</h4>
                    <div class="ml-auto">
                        <select class="custom-select">
                            <option selected="">January</option>
                            <option value="1">February</option>
                            <option value="2">March</option>
                            <option value="3">April</option>
                        </select>
                    </div>
                </div>
                <div class="month-table">
                    <div class="table-responsive mt-3">
                        <table class="table stylish-table mb-0">
                            <thead>
                                <tr>
                                    <th colspan="2">Assigned</th>
                                    <th>Name</th>
                                    <th>Priority</th>
                                    <th>Budget</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:50px;"><span class="round text-white d-inline-block text-center rounded-circle bg-info">S</span>
                                    </td>
                                    <td>
                                        <h6>Sunil Joshi</h6><small class="text-muted">Web
                                            Designer</small>
                                    </td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge badge-success px-2 py-1">Low</span></td>
                                    <td>$3.9K</td>
                                </tr>
                                <tr class="active">
                                    <td><span class="round text-white d-inline-block text-center rounded-circle bg-info"><img
                                                src="../assets/images/users/2.jpg" alt="user"
                                                width="50"></span></td>
                                    <td>
                                        <h6>Andrew</h6><small class="text-muted">Project Manager</small>
                                    </td>
                                    <td>Real Homes</td>
                                    <td><span class="badge badge-info px-2 py-1">Medium</span></td>
                                    <td>$23.9K</td>
                                </tr>
                                <tr>
                                    <td><span class="round text-white d-inline-block text-center rounded-circle bg-success">B</span>
                                    </td>
                                    <td>
                                        <h6>Bhavesh patel</h6><small class="text-muted">Developer</small>
                                    </td>
                                    <td>MedicalPro Theme</td>
                                    <td><span class="badge badge-primary px-2 py-1">High</span></td>
                                    <td>$12.9K</td>
                                </tr>
                                <tr>
                                    <td><span class="round text-white d-inline-block text-center rounded-circle bg-primary">N</span>
                                    </td>
                                    <td>
                                        <h6>Nirav Joshi</h6><small class="text-muted">Frontend
                                            Eng</small>
                                    </td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge badge-danger px-2 py-1">Low</span></td>
                                    <td>$10.9K</td>
                                </tr>
                                <tr>
                                    <td><span class="round text-white d-inline-block text-center rounded-circle bg-warning">M</span>
                                    </td>
                                    <td>
                                        <h6>Micheal Doe</h6><small class="text-muted">Content
                                            Writer</small>
                                    </td>
                                    <td>Helping Hands</td>
                                    <td><span class="badge badge-warning px-2 py-1">High</span></td>
                                    <td>$12.9K</td>
                                </tr>
                                <tr>
                                    <td><span class="round text-white d-inline-block text-center rounded-circle bg-danger">N</span>
                                    </td>
                                    <td>
                                        <h6>Johnathan</h6><small class="text-muted">Graphic</small>
                                    </td>
                                    <td>Digital Agency</td>
                                    <td><span class="badge badge-info px-2 py-1">High</span></td>
                                    <td>$2.6K</td>
                                </tr>
                                <tr>
                                    <td style="width:50px;"><span class="round text-white d-inline-block text-center rounded-circle bg-info">S</span>
                                    </td>
                                    <td>
                                        <h6>Sunil Joshi</h6><small class="text-muted">Web
                                            Designer</small>
                                    </td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge badge-success px-2 py-1">Low</span></td>
                                    <td>$3.9K</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <!-- Column -->
        <div class="card">
            <div class="card-body bg-black">
                <h4 class="text-white card-title">Solicitudes</h4>
                <h6 class="card-subtitle text-white mb-0 op-5">Checkout my contacts here</h6>
            </div>
            <div class="card-body p-2">
                <div class="message-box contact-box position-relative mt-2">
                    <h2 class="add-ct-btn position-absolute"><button type="button" class="btn btn-circle btn-lg btn-black waves-effect waves-dark">+</button>
                    </h2>
                    <div *ngFor="let soli of (solPendientes[1] | async)" class="message-widget contact-widget position-relative" name="solicitud" id="solicitud">

                        <!-- Message -->
                        <a href="#" class="py-3 px-2 border-bottom d-block text-decoration-none">
                            <div class="user-img position-relative d-inline-block mr-2"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">A</span>
                                <span class="profile-status pull-right d-inline-block position-absolute bg-warning rounded-circle"></span>
                            </div>
                            <div class="mail-contnet d-inline-block align-middle">
                                <h5 class="my-1">{{ soli.nombre }}</h5>
                                <span class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">
                                    <span class="__cf_email__" data-cfemail="dab9a8afb3a9bfebe8e3e2f4bcb3aab6b3aa9abdb7bbb3b6f4b9b5b7">
                                        {{ soli.email }}
                                    </span>
                                </span>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
</div>